body{
  margin: 0;
  background-color: black;
  color: white;
}
canvas{
  display: block;
}
#score{
  user-select: none;
  position: absolute;
  margin: 10px;
  color: greenyellow;
  font-family: "Bauhaus 93";
}
